<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SessionAutoMod.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SessionAutoMod.userSettings>
            <setting name="unrealEngineFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="sessionGameFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ueViewer" serializeAs="String">
                <value />
            </setting>
            <setting name="workingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="aesKey" serializeAs="String">
                <value />
            </setting>
        </SessionAutoMod.userSettings>
    </userSettings>
</configuration>